body {
    background-color: pink;
    margin-top: 20em;
}
.editor-box {
    width: 75%;
    max-width: 600px;
    margin: auto;
}

#preview {
    width: 80%;
    min-width: 80%;
    max-width: 650px;
    background-color: red;
    margin: auto;
}
